* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.6; */
    background: #f5f5f5;
    color: #222;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    color: #fff;
    padding: 15px 0;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    width: 90%;
    margin: 0;
    height: 100vh;
}

#home {
    background-image: url(./images/Peace.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-color: #cbb387;
}
/* 
#home img {
    width: 250px;
    /* height: 250px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid black;
    filter: grayscale(100%);
    transition: o.5s ease;

} */

#home img img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

#about {
    height: 50vh;
}

h2 {
    margin-bottom: 15px;
}

.text {
    font-size: 23px;
    background: transparent;
    backdrop-filter: blur(10px);
    height: 200px;
    width: 500px;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 20px;
}
